site_name: Breadcord
site_url: https://breadcord.com
site_author: Breadcord Team
site_description: The modular self-hostable Discord bot framework with customisability that doesn't go against the grain
repo_name: Breadcord/Breadcord
repo_url: https://github.com/Breadcord/Breadcord
dev_addr: localhost:80
strict: true

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      permalink: true

theme:
  name: material
  logo: assets/logo.png
  favicon: assets/logo.png
  features:
    - navigation.footer
    - navigation.instant

  palette:
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: yellow
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: yellow
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

extra_css:
  - stylesheets/extra.css
