[tool.ruff]
select = [
    "F",        # pyflakes
    "W",        # pycodestyle warnings
    "E",        # pycodestyle errors
    "C90",      # mccabe
    "I",        # isort
    "N",        # pep8-naming
    "D",        # pydocstyle
    "UP",       # pyupgrade
    "ASYNC",    # flake8-async
    "S",        # flake8-bandit
    "B",        # flake8-bugbear
    "COM",      # flake8-commas
    "C4",       # flake8-comprehensions
    "Q",        # flake8-quotes
    "RET",      # flake8-return
    "SIM",      # flake8-simplify
    "TCH",      # flake8-type-checking
    "ARG",      # flake8-unused-arguments
    "PTH",      # flake8-use-pathlib
    "PGH",      # pygrep-hooks
    "PL",       # Pylint
    "PERF",     # Perflint
    "RUF",      # Ruff-specific rules
]

ignore = [
    # Missing docstrings
    # This should be enabled in the future, but for now it's just too much at once
    "D10",

    # I have aged 30 years due to this rule
    # - Fripe
    "D401",

    # Wacky docstring defaults
    "D203",
    "D213",

    # Insane suggestion that pathlib.Path.open() should be prefered over open()
    "PTH123",

    # Too unflexible to be resonable
    # https://github.com/Breadcord/Breadcord/pull/144#issuecomment-1732071028
    "PLR0913",
]

line-length = 120


[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"] # Unused imports in __init__.py are fine


[tool.ruff.flake8-quotes]
inline-quotes = "single"
multiline-quotes = "single"
