* {
  scrollbar-color: $primary-lighten-1;
  scrollbar-color-hover: $secondary-darken-2;
  scrollbar-color-active: $secondary;
  scrollbar-background: $background-darken-3;
  scrollbar-background-hover: $background;
  scrollbar-background-active: $background;
  scrollbar-corner-color: $background-darken-3;
}

Tooltip {
  padding: 0;
}

#output_log {
  height: 1fr;
}
