name: Auto Assign

on:
  issues:
    types:
      - opened
  pull_request_target:
    types:
      - opened

jobs:
  assign_members:
    name: Assign Members
    runs-on: ubuntu-latest
    steps:
      - uses: wow-actions/auto-assign@v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          addAssignees: author
          reviewers: ThatOtherAndrew

  assign_project:
    name: Assign Project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.4.1
        with:
          github-token: ${{ secrets.ACTIONS_TOKEN }}
          project-url: https://github.com/orgs/Breadcord/projects/1
