name: Qodana Analysis

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  qodana:
    name: Qodana Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Download Pydantic plugin
        run: |
          curl -L -o pydantic.zip https://plugins.jetbrains.com/plugin/download?updateId=267613
          unzip pydantic.zip

      - name: Perform Qodana Scan
        uses: JetBrains/qodana-action@v2023.1.4
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
        with:
          args: >
            -v, ${{ github.workspace }}/Pydantic:/opt/idea/plugins/Pydantic

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
